#header {
    height: 120px;
    width: 100%;
}

#box {
    position:relative;
    background-color: deepskyblue;
    background-image: url('https://i.imgur.com/YNnw1us.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 70%;
    border: 1px solid black;
    padding: 4px;
    margin: auto;
}

#selection-box {
    background-color: mediumblue;
    border: 2px solid white;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute; left:46%; top:40%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

#btn-submit {
    background-color: mediumblue;
    border: 2px solid white;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute; left:54%; top:40%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

#btn1 {
    background-color: midnightblue;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute; left:7%; top:85%;
}

#btn2 {
    background-color: midnightblue;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute; left:50%; top:85%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

#btn3 {
    background-color: midnightblue;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute; right:7%; top:85%;
}

#center {
    text-align: center;
    margin: auto;
    width: 50%;
}
