#box {
    position:relative;
    background-color: #4da6ff;
    /*background-image: url('https://img.wallpapersafari.com/desktop/1600/900/81/93/3DNUtx.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    width: 75%;
    border: 3px solid black;
    padding: 4px;
    margin: auto;
}

#selection-box {
    background-color: #0047b3;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 25%;
    height: 50px;
    overflow: hidden;
    position:absolute; left:25%; top:25%;
}

#btn-submit {
    background-color: #0047b3;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 25%;
    height: 50px;
    overflow: hidden;
    position:absolute; left:50%; top:25%;
}

#btn {
    background-color: #0047b3;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 25%;
    height: 50px;
    overflow: hidden;
}

#table{
    border-collapse: collapse;
    width: 40%;
}

#center {
    text-align: center;
    margin: auto;
    width: 50%;
}
