#box {
    position:relative;
    background-color: deepskyblue;
    background-image: url('https://i.imgur.com/YNnw1us.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    width: 70%;
    border: 1px solid black;
    padding: 4px;
    margin: auto;
}

#selection-box {
    background-color: midnightblue;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 25%;
    height: 50px;
    overflow: hidden;
    position:absolute; left:25%; top:25%;
}

#btn-submit {
    background-color: midnightblue;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 25%;
    height: 50px;
    overflow: hidden;
    position:absolute; left:50%; top:25%;
}

#btn {
    background-color: midnightblue;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 25%;
    height: 50px;
    overflow: hidden;
}

#table{
    border-collapse: collapse;
    width: 40%;
}

#center {
    text-align: center;
    margin: auto;
    width: 50%;
}
