#header {
    height: 120px;
    width: 100%;
}
#center-box {
    position:relative;
    background-color: #4da6ff;
    /*background-image: url('https://img.wallpapersafari.com/desktop/1600/900/81/93/3DNUtx.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 70%;
    border: 2px solid white;
    padding: 4px;
    margin: auto;
}


#car-list-area {
    height: 800px;
    width: 50%;
    position:absolute;
    left:50%; top:20%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}
#car-btn {
    background-color: #333333;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
    height: 50px;
    position:relative; left:47%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}
#back-btn {
    background-color: #333333;
    border: 2px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    position:relative; left:6%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

