<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add new contract</h1>

<form action="/create" method="post">
    <label>Enter Contract date start</label>
    <input type="text" name="contractDateStart" placeholder="Contract Date Start">
    <label>Enter maxKM</label>
    <input type="text" name="maxKM" placeholder="MaxKM">
    <label>Enter Start Odometer</label>
    <input type="text" name="startOdometer" placeholder="Start Odometer">
    <label>Enter CustomerID</label>
    <input type="text" name="customerID" placeholder="CustomerID">
    <label>Enter Plate Number</label>
    <input type="text" name="plateNumber" placeholder="Plate Number">
    <input type="submit" value="Create new contract" style="color: #4CAF50">

</form>
</body>
</html>