<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Contract</title>
    <style>
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body style="background-image:  url('https://cdn.discordapp.com/attachments/803275974720094238/834722109007593482/unknown.png'); background-position: center">
<h1>Add new contract</h1>
<span th:text="${platenumber}"></span>
<span th:text="${customerid}"></span>
<form action="/createContract" method="post">
    <label>Enter Contract date start</label>
    <input type="date" name="contractDateStart" placeholder="Contract Date Start">
    <label>Enter Contract date end</label>
    <input type="date" name="contractDateEnd" placeholder="Contract Date End">
    <label>Enter Max KM</label>
    <input type="text" name="maxKM" placeholder="MaxKM">
    <label>Enter Start Odometer</label>
    <input type="text" name="startOdometer" placeholder="Start Odometer">
    <input type="hidden" name="customerID" th:value="${customerid}">
    <input type="hidden" name="plateNumber" th:value="${platenumber}">
    <input type="submit" value="Create new contract" style="color: #4CAF50">

</form>
</body>
</html>