<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kailua Car rental</title>
    <link rel="stylesheet" type="text/css" href="MyIndexCSS.css">
</head>
<body>

<div id="box">
    <a href="/viewCars">
        <button class="btn-viewCars" id="btn-viewCars">View All Cars</button>
    </a>
    <a href="/viewCustomers">
        <button class="btn-viewCustomers" id="btn-viewCustomers">View All Customers</button>
    </a>
    <a href="/viewContracts">
        <button class="btn-viewContracts" id="btn-viewContracts">View All Contracts</button>
    </a>


    <div id="center">
        <h2>Rent a car!</h2>
        <form action="/createContract" method="post">
            <input type="date" name="contractDateStart" placeholder="Contract Start Date">
            <input type="date" name="contractDateEnd" placeholder="Contract End Date">
            <a href="/createContract">
                <button class="btn-createContract" id="btn-createContract">Create Contract</button>
            </a>
        </form>
    </div>

</div>

</body>
</html>