<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kailua Car rental</title>
    <link rel="stylesheet" type="text/css" href="MyIndexCSS.css">
</head>
<body>

<div id="box">
    <a href="/viewCars">
        <button class="btn-viewCars" id="btn-viewCars">View All Cars</button>
    </a>
    <a href="/viewCustomers">
        <button class="btn-viewCustomers" id="btn-viewCustomers">View All Customers</button>
    </a>
    <a href="/viewContracts">
        <button class="btn-viewContracts" id="btn-viewContracts">View All Contracts</button>
    </a>
</div>



</body>
</html>