<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Kailua Car rental</title>
    <link rel="stylesheet" type="text/css" href="MyIndexCSS.css">
</head>
<title>Kailua Car rental</title>
<link rel="stylesheet" type="text/css" href="MyIndexCSS.css">
</head>
<body style="background-color: #cce6ff; background-image: url('https://i.imgur.com/EdokGed.png'); background-position: center";>
<div id="box">

    <h1 style="text-align: center; color:white; font-family:verdana;">Kailua Car Rental</h1>

    <form id="form" action="/carShow" method="post">
        <label style="position:absolute; left:44%; top:20%; color:white; font-size:140%; "
               for="selection-box">Choose a car type</label>
        <select name="car_tier" id="selection-box">
            <option value="family">Family</option>
            <option value="luxury">Luxury</option>
            <option value="sport">Sport</option>
        </select>
        <br><br>
        <input class="btn-submit" id="btn-submit" type="submit" value="Show Cars">
    </form>
    <a href="/viewCars">
        <button style="position:absolute; left:7%; top:70%;" class="btn" id="btn">View All Cars</button>
    </a>
    <a href="/viewCustomers">
        <button style="position:absolute; left:37%; top:70%;" class="btn" id="btn">View All Customers</button>
    </a>
    <a href="/viewContracts">
        <button style="position:absolute; left:67%; top:70%;" class="btn" id="btn">View All Contracts</button>
    </a>

</div>
</body>
</html>