<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of all customers</title>
    <link rel="stylesheet" type="text/css" href="ViewTable.css">
    <script>function goBack() {
        window.history.back()
    }</script>
</head>
<body style="background-image:  url('https://i.imgur.com/H5A6kfe.gif'); background-position: center">
<button class="back-btn" id="back-btn" onclick="goBack()">Go Back</button>
<h1><strong>Customerlist:</strong></h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Driver License</th>
        <th>Driver License Date</th>
        <th>Address</th>
        <th>Zipcode</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customers: ${customers}">
        <td th:text="${customers.name}"/>
        <td th:text="${customers.mobilePhone}" />
        <td th:text="${customers.email}" />
        <td th:text="${customers.driverLicence}"/>
        <td th:text="${customers.driverSinceDate}"/>
        <td th:text="${customers.address}"/>
        <td th:text="${customers.zipcode}"/>
        <td th:text="${customers.city}"/>
    </tr>
    </tbody>
</table>
</body>
</html>