<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of all contracts</title>
    <link rel="stylesheet" type="text/css" href="ViewTable.css">
    <script>function goBack() {
        window.history.back()
    }</script>
</head>
<body style="background-color: #cce6ff; background-image: url('https://i.imgur.com/EdokGed.png'); background-position: center">
<div id="center-box">
<button class="back-btn" id="back-btn" onclick="goBack()">Go Back</button>
    <h1 style="text-align: center; color:white; font-family:verdana;">Carlist</h1>
<table>
    <thead>
    <tr>
        <th>Contract ID</th>
        <th>Contract Start Date</th>
        <th>Max KM</th>
        <th>Start Odometer</th>
        <th>Customer ID</th>
        <th>Plate Number</th>
        <th>Delete Contract</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contracts: ${contracts}">
        <td th:text="${contracts.contractID}" />
        <td th:text="${contracts.contractDateStart}" />
        <td th:text="${contracts.maxKM}" />
        <td th:text="${contracts.startOdometer}" />
        <td th:text="${contracts.customerID}" />
        <td th:text="${contracts.plateNumber}" />
        <td>
        <a th:href="@{'/delete/'+${contracts.contractID}}">
            <button class="btn-delete" id="btn-delete">Delete this contract</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
