<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of all contracts</title>
    <link rel="stylesheet" type="text/css" href="ViewTable.css">
    <script>function goBack() {
        window.history.back()
    }</script>
</head>
<body style="background-image:  url('https://i.imgur.com/H5A6kfe.gif'); background-position: center">
<button class="back-btn" id="back-btn" onclick="goBack()">Go Back</button>
<h1><strong>Contractlist</strong></h1>
<table>
    <thead>
    <tr>
        <th>Contract ID</th>
        <th>Contract Start Date</th>
        <th>Max KM</th>
        <th>Start Odometer</th>
        <th>Customer ID</th>
        <th>Plate Number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contracts: ${contracts}">
        <td th:text="${contracts.contractID}" />
        <td th:text="${contracts.contractDateStart}" />
        <td th:text="${contracts.maxKM}" />
        <td th:text="${contracts.startOdometer}" />
        <td th:text="${contracts.customerID}" />
        <td th:text="${contracts.plateNumber}" />
    </tr>
    </tbody>
</table>

</body>
</html>
