<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of all customers</title>
    <link rel="stylesheet" type="text/css" href="viewCustomersCSS.css">
</head>
<body>
<h1>Customerlist</h1>
<table>
    <thead>
    <tr>
        <th>CustomerID</th>
        <th>Name</th>
        <th>MobilePhone</th>
        <th>Email</th>
        <th>DriverLicense</th>
        <th>DriverSinceDate</th>
        <th>AddressIDc</th>
        <th>AddressID</th>
        <th>Address</th>
        <th>ZipcodeIDa</th>
        <th>ZipcodeID</th>
        <th>Zipcode</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customers: ${customers}">
        <td th:text="${customers.customerID}" />
        <td th:text="${customers.name}"/>
        <td th:text="${customers.mobilePhone}" />
        <td th:text="${customers.email}" />
        <td th:text="${customers.driverLicence}"/>
        <td th:text="${customers.driverSinceDate}"/>
        <td th:text="${customers.addressIDc}"/>
        <td th:text="${customers.addressID}"/>
        <td th:text="${customers.address}"/>
        <td th:text="${customers.zipcodeIDa}"/>
        <td th:text="${customers.zipcodeID}"/>
        <td th:text="${customers.zipcode}"/>
        <td th:text="${customers.city}"/>
    </tr>
    </tbody>
</table>
</body>
</html>